* {
	margin: 0;
	padding: 0;
	font-family: Verdana;	
}

#header {
	width: auto;
	min-width: 722px;
	height: 150px;
	padding: 10px;
	position: relative;
	background: url("../images/header_background.png") repeat-x #fef8f6;
}

	#header div#logo {
		margin: 0 0 25px 150px;
	}

	#header img#img_logo {
		float: left;
	}
	
	#header h1 {
		font-size: 50px;
		color: #a80;
	}
	
	#header #enter_time {
		font-size: 14px;
	}

#main_menu {
	width: 100%;
	min-width:722px;
	border-top: #e00 solid 3px;
	border-bottom: #dedede solid 1px;
	background: url("../themes/custom-theme/images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #f1f1f1;
	height: 24px;
}
	
	#main_menu ul {
		list-style-type: none;
		display: block;
	}
	
	#main_menu li {
		float: left;
		padding: 3px 5px;
		border-left: #aaa solid 1px;
	}
	
	#main_menu li:hover {
		cursor: pointer;
	}
	
	#main_menu li:hover a {
		color: red;
	}
	
	#main_menu li#cur {
		background: url("../images/link_selected.png") repeat-x scroll 50% 50% #999;
	}
	
	#main_menu a {
		color: black;
		font-size: 16px;
		text-decoration: none;
	}

	#content_body table{
		width: 100%;
		border: #dedede solid 1px;
		text-align: center;
		border-collapse: collapse;
	}
		
		#content_body table caption{
			margin-top: 20px;
			text-align: left;
			font-size: 18px;
		}
		
		#content_body  td,th {
			border: #dedede solid 1px;
			padding: 3px;
		}
		
		#content_body  td {
			font-size: 14px;
		}
		
		#content_body  th {
			background: url("../themes/custom-theme/images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #f1f1f1;
		}
		
		#content_body  thead, tbody {
			background: #f1f1f1;
		}
		
		#content_body  thead a {
			color: black;
			font-weight: normal;
		}
		
		#content_body thead a.sort {
			color: red;
		}	
	
	
	
#content_body {
	width: 99%;
	min-width: 722px;
	margin: 5px;
}

#content_body hr {
	height: 2px;
	background-color: #dedede;
	border: none;
}
	
	#content_body  .groupier {
		margin: 5px 0;
		min-height: 22px;
		width: 100%;
	}
	
		#content_body .groupier form {
			display: block;
			float: left;
		}
			#content_body .groupier form  input[type="submit"] {
				margin: -1px 0pt 0pt 5px;
			}
		
		#content_body  .groupier ul {
			list-style-type: none;
			float: right;
		}
			.groupier ul li {
				float: left;
				margin: 0 1px;
				color: #28166f;
			}
			
			.groupier ul  li a {
				color: #28166f;
			}
			
			.groupier li .selected {
				font-weight: bold; 
				color: rgb(170, 136, 136);
				border-color: rgb(170, 136, 0);
				background: none repeat scroll 0% 0% rgb(213, 213, 151) ! important;
			}
	
		#content_body .new {
			background: #eea8a8;
		}

		#content_body .closed {
			background: #b5b597;
		}

		#content_body .assigned {
			background: #7991c4;
		}

		#content_body .solved {
			background: #93cc88;
		}

		#content_body .confirmed {
			background: #eeeea8;
		}		
		
		#content_body a, #enter a {
			color: #28166f
		}
		
		strong.strongest, a.strongest, #reg strong {
			color: red !important;
			font-weight: bold;
		}

	#content_body  table#report {
		text-align: left;
		margin-bottom: 30px;
	}	
	
		#content_body  table#report strong {
			font-size: 22px;
		}
		
		#report ul {
			margin-left: 20px;
		}
	
	#content_body table .left{
		text-align: left;
	}	
	
	#content_body table .date{
		width: 200px;
	}

.add_form {
	border: 1px solid #dedede;
	margin: 0;
	background: #f1f1f1;
	border-radius: 5px;
	-moz-border-radius: 5px;
}
	
	.add_form  dd {
		width: auto;
		margin: 5px 10px 5px 250px;
	}
	
	
	.add_form dt {
		float: left;
		margin: 0 5px;
		width: 220px;
		text-align: right;
	}
	
	.add_form input[type="text"] , .add_form textarea{
		width: 100%;
	}
	
	select, input[type="text"], textarea, input[type="password"] {
		border: 2px solid #dedede;
	}
	
	.info_div input[type="password"]
	{
		width: 200px;
	}
	
	.info_div dt {
		float: left;
		text-align: right;
	}
	
	.info_div  dd {
		width: auto;
		margin: 5px 0 5px 100px;
	}
	
	.info_div .prof dt {
		width: 190px;
	}
	
	.info_div  .prof dd {
		margin: 5px 0 5px 200px;
	}
	
dd.subm {
	text-align: right;
	margin-right: 5px !important;
}
	
	
#enter {
	background: none repeat scroll 0 0 #F1F1F1;
	border: 2px solid #DEDEDE;
	left: 50%;
	margin-left: -150px;
	margin-top: -75px;
	position: absolute;
	top: 50%;
	width: 300px;
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
}

	#reg {width: 500px; margin: 0 auto;}
	#reg input { width: auto !important; }
	#reg dt { width: 180px;}
	#reg dd {margin-left: 210px !important;}
	#reg .subm {margin-right: 14px;}
	#reg span {
		margin: 3px;
		font-size: 11px;
		display: block;
		color: #777;
	}
	
	#enter div#hdr, .add_form  div#hdr {
		background: url("../themes/custom-theme/images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #DEDEDE;
		color: white;
		font-weight: bold;
		padding: 5px 0 5px 10px;
	}
	
	#enter div#hdr
	{
		border-radius: 13px 13px 0 0;
		-moz-border-radius: 13px 13px 0 0;
	}
	
	.add_form  div#hdr
	{
		border-radius: 3px 3px 0 0;
		-moz-border-radius: 3px 3px 0 0;
	}
	
	#enter input[type="text"], #enter input[type="password"], #reg input[type="text"], #reg input[type="password"]{
		border: 2px solid #DEDEDE;
		font-size: 24px;
		height: 30px;
		width: 180px;
	}
	
	
	#enter dt, #reg dt {
		float: left;
		margin: 6px 20px 6px 10px;
		text-align: right;
	}	
	
	#enter dd, #reg dd {
		width: auto;
		margin: 10px 0 10px 100px;
	}

	#enter #sigIn {
		float: right;
		margin-right: 18px;
	}

/* Тута и ниже будет идти мой код*/


		#content_body tr.odd {
			background: #dedede;
		}

		#content_body tr.even {
			background: #eeeeee;
		}
	.find_results {
		width:auto;
		background: #dedede;
		margin: 10px 3px;
		border: solid 1px silver;
		padding: 5px;
	}
	.author {
		margin: 0 10px;

	}
	
	.find_results p {
		margin: 5px 10px 10px 25px;
		text-indent: 1cm;
		max-height: 100px;
		overflow-x: hidden;
		font-size: 12px;
	}
	
	.fixed_width { 
		width: 500px !important; 
	}
	
	.fixed_width dt {
		width: 120px;
	}
	
	.fixed_width dd {
		margin: 5px 10px 5px 150px;
	}
	
		#goTask {
			position: absolute;
			bottom: 5px;
			right: 5px;
		}
		
		#goTask div.panel {
			float: left;
			background: #F1F1F1;
			padding: 5px;
			margin-left: 3px;
			border: 2px solid #DEDEDE;
			border-radius: 5px;
			-moz-border-radius: 5px;
		}
		

		
		#goTask div input[type="text"]
		{
			width:85px;
			height: 20px;
			text-align: right;
		}
		
		#account_panel {
			position: absolute;
			top: 5px;
			right: 5px;
			text-align: right;
		}
		
		#account_panel #exit {
			float: right;
		}
		#account_panel strong {
			color: #e00;
		}
		
.error {
	color: red;
    font-size: 12px;
    margin: 5px 20px;
}

.ok {
	color: green;
    font-size: 12px;
    margin: 5px 20px;
}

.red {
	color: red;
    font-size: 12px;
}

.green {
	color: green;
    font-size: 12px;
}

.standard {
    font-size: 12px;
}

.delmiter {
	border-left: #ccc 1px solid; 
	padding: 5px 3px 7px 3px;
}

/* <Timur date = '17.09.2011'>: код для вывода результатов операции (ошибка,удачно) */
.messageBox { 
	padding:10px; 
	border-radius:4px;
	margin: 10px 0;
}

.errorBox {
	border: solid 1px red;
	background-color: #faa; 
}
	
.goodBox {
	border: solid 1px green;
	background-color: #afa; 
}
/* </Timur date = '17.09.2011'> */
