/* 
    Document   : ui.custom
    Created on : 17.07.2012, 2:12:46
    Author     : EntityFX
    Description:
        Purpose of the stylesheet follows.
*/

body {
    padding-top: 40px;
    /*padding-bottom: 40px;*/
    background-image: url(../img/honeycomb_background.png);
    background-repeat: repeat-x;
}

select {
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

blockquote {
    padding: 8px 35px 8px 14px;
}

blockquote .close {
    right: -21px;
    top: -2px;
    position: relative;
}

.sidebar-nav {
    padding: 9px 0;
}

.tarakaning-toolbar form, #project-panel form {
    margin: 0;
}

.tarakaning-toolbar .pagination {
    margin: 0 !important;
    height: auto !important;
}

.tarakaning-toolbar .pagination-right {
    text-align: right;
    float: right;
}

.form-horizontal .controls label {
    display: block;
    padding-top: 5px;
}

.checkbox-table td:first-child, .checkbox-table th:first-child {
    text-align: center;
}

.align-right {
    text-align: right;
}

.item-state-new {
    background-color: #f2dede !important;
    color: #b94a48;
}

.item-state-assesed {
    background-color: #f3edd2 !important;
    color: #c09853;
}

.item-state-solved {
    background-color: #DFF0D8 !important;
    color: #468847;
}

.item-state-inprocess {
    background-color: #d9edf7 !important;
    color: #3a87ad;
}

#main_row {
    min-height: 300px;
}

#userForm form {
    width: 450px;
    margin: 0 auto;
}

#headmain {
    margin-bottom: 72px;
    padding-top: 36px;
}

#headmain h1, #headmain p {
    text-align: center;   
}

#headmain h1 {
    font-size: 81px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 9px;
}

#headmain p {
    font-size: 30px;
    line-height: 36px;
    margin-left: 5%;
    margin-right: 5%;
}

#comment {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
}

.main-toolbar-group .btn-group .btn {
    float: none;
}

.main-toolbar-group {
	display: inline-block;
	padding: 5px 5px 2px;
	overflow: hidden;
}

.main-toolbar-group .divider {
    border-right: 1px solid #CCCCCC;
    display: inline-block;
    height: 48px;
    margin: -20px 0;
    overflow: hidden;
    width: 1px;
}

.main-toolbar-group form {
	margin: 0;
}

.main-toolbar-group a.btn {
    margin: auto -4px;
}

.main-toolbar-group a.btn:last-child {
    margin: 0 -1px;
}

#main-toolbar .btn-group-normalize {
	margin-bottom: -10px;	
}

.form-horizontal fieldset {
    margin-bottom: 27px;
}

.form-horizontal fieldset {
    margin-bottom: 0px;
}

form fieldset a.form-header-right {
    float: right;
    font-size: 13px;
}

.required {
    color: red;
    font-size: 36px;
}

.pagination-custom {
    margin: 0 !important;
    height: auto !important;
}

form table td:first-child {
    width: 14px;
}