{% extends "views/layouts/main.master.twig" %}

{% block body %}
    <div class="container">
        <header id="headmain">
            <div class="inner">
                <h1>EntityFX</h1>
                <p>System of systems</p>
            </div>
        </header>
        <div class="row" id="userForm" >
            {% block authForm %}{% endblock %}
        </div>
    </div>
{% endblock %}