* {
	margin: 0;
	padding: 0;
	font-family: Verdana;	
}

#header {
	width: auto;
	height: 150px;
	margin: 10px;
}

	#header div#logo {
		margin: 25px 0 25px 150px;
	}

	#header img#img_logo{
		float: left;
	}
	
	#header h1 {
		font-size: 50px;
		color: #a80;
	}

#main_menu {
	width: auto;
	border-top: #dedede solid 1px;
	border-bottom: #dedede solid 1px;
	background: url("custom-theme/images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #f1f1f1;
	height: 24px;
}
	
	#main_menu ul{
		list-style-type: none;
		display: block;
	}
	
	#main_menu li{
		float: left;
		padding: 3px 5px;
		border-left: #aaa solid 1px;
	}
	
	#main_menu a:hover{
		color: #fff;
	}
	
	#main_menu a {
		color: black;
		font-size: 16px;
		text-decoration: none;
	}

	#content_body table{
		width: 100%;
		border: #dedede solid 1px;
		text-align: center;
		border-collapse: collapse;
	}
		
		#content_body table caption{
			margin-top: 20px;
			text-align: left;
			font-size: 18px;
		}
		
		#content_body  td,th {
			border: #dedede solid 1px;
			padding: 3px;
		}
		
		#content_body  td {
			font-size: 14px;
		}
		
		#content_body  th {
			background: url("custom-theme/images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #f1f1f1;
		}
		
		#content_body  thead, tbody {
			background: #f1f1f1;
		}
		
		#content_body  thead a {
			color: black;
			font-weight: normal;
		}
		
		#content_body thead a.sort {
			color: red;
		}	
	
	
	
#content_body {
	padding: 10px;
}

#content_body hr {
	height: 2px;
	background-color: #dedede;
	border: none;
}
	
	#content_body  .groupier {
		margin: 5px 0;
		height: 20px;
		width: 100%;
	}
	
		#content_body .groupier form {
			display: block;
			float: left;
		}
			#content_body .groupier form  input[type="submit"] {
				margin: -1px 0pt 0pt 5px;
			}
		
		#content_body  .groupier ul {
			list-style-type: none;
			float: right;
		}
			.groupier ul  li {
				float: left;
				margin: 0 3px;
				color: #28166f;
			}
			
			.groupier ul  li a {
				color: #28166f;
			}
	
		#content_body .new {
			background: #eea8a8;
		}

		#content_body .closed {
			background: #b5b597;
		}

		#content_body .assigned {
			background: #7991c4;
		}

		#content_body .solved {
			background: #93cc88;
		}

		#content_body .confirmed {
			background: #eeeea8;
		}		
		
		#content_body a, #enter a {
			color: #28166f
		}
		
		strong.strongest, a.strongest {
			color: red !important;
			font-weight: bold;
		}

	#content_body  table#report {
		text-align: left;
		margin-bottom: 30px;
	}	
	
		#content_body  table#report strong {
			font-size: 22px;
		}
		
		#report ul {
			margin-left: 20px;
		}
	
	#content_body table .left{
		text-align: left;
	}	
	
	#content_body table .date{
		width: 200px;
	}

.add_form {
	border: 1px solid #dedede;
	margin: 0 20px;
	background: #f1f1f1;
	border-radius: 15px 15px 5px 5px;
	-moz-border-radius: 15px 15px 5px 5px;
}
	
	.add_form  dd {
		width: auto;
		margin: 5px 10px 5px 250px;
	}
	
	.add_form  dd.subm {
		text-align: right;
		margin-right: 5px;
	}
	
	.add_form dt {
		float: left;
		margin: 0 5px;
		width: 220px;
		text-align: right;
	}
	
	.add_form input[type="text"] , .add_form textarea{
		width: 100%;
	}
	
	select, input[type="text"], textarea {
		border: 2px solid #dedede;
	}
	
	.info_div  dd {
		width: auto;
		margin: 5px 0 5px 100px;
	}
	
	.info_div  dd.subm {
		text-align: right;
		margin-right: 5px;
	}
	
	.info_div dt {
		float: left;
		margin: 0 20px 0 0;
		text-align: right;
	}
	
#enter {
	background: none repeat scroll 0 0 #F1F1F1;
	border: 2px solid #DEDEDE;
	height: 155px;
	left: 50%;
	margin-left: -150px;
	margin-top: -75px;
	position: absolute;
	top: 50%;
	width: 300px;
	radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
}

	#enter div#hdr, .add_form  div#hdr {
		background: url("custom-theme/images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #DEDEDE;
		color: white;
		font-weight: bold;
		padding: 5px 0 5px 10px;
		radius: 13px 13px 0 0;
		-moz-border-radius: 13px 13px 0 0;
	}
	
	#enter input[type="text"], #enter input[type="password"] {
		border: 1px solid #DEDEDE;
		font-size: 24px;
		height: 30px;
		width: 180px;
	}
	
	#enter dt {
		float: left;
		margin: 6px 20px 6px 10px;
		text-align: right;
	}	
	
	#enter dd {
		width: auto;
		margin: 10px 0 10px 100px;
	}

	#enter #sigIn {
		float: right;
		margin-right: 18px;
	}

/* Тута и ниже будет идти мой код*/


		#content_body tr.odd {
			background: #dedede;
		}

		#content_body tr.even {
			background: #eeeeee;
		}
	.find_results {
		width:auto;
		background: #dedede;
		margin:10px 20px 10px 20px;
		border: solid 1px silver;
		padding: 5px;
	}
	.author {
		margin-left:50px;
		margin-right:10px;
	}
	
	.description {
		margin-left:25px;
		font-size: 12px;
	}
	
	.fixed_width { 
		width: 500px !important; 
	}
	
	.fixed_width dt {
		width: 120px;
	}
	
	.fixed_width dd {
		margin: 5px 10px 5px 150px;
	}
/* конец моего кода.*/
