<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Tarakaning</title>
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
		<link href="custom-theme/jquery-ui-1.8.9.custom.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="../js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="../js/jquery-ui-1.8.5.custom.min.js"></script>
		<script type="text/javascript">
		/* <![CDATA[ */
			$(document).ready(function() {
				$("#tabs").tabs();
				$("input:button, input:submit, a").button();
			});
		/* ]]>*/
		</script>
		<link rel="stylesheet" type="text/css" href="style.css" />
	</head>
<body>
<div id="header"> <img id="img_logo" src="images/logotype.PNG" alt="Tarakaning" />
<div id="logo">
<h1>Tarakaning</h1>
<span>Багтреккер и управление проектами</span> </div>
</div>
	<div id="enter">
		<div id="hdr">Вход в систему</div>
		<form action="#" method="post" id="form">
			<div>
				<dl>
					<dt><label for="login">Логин </label></dt><dd><input id="login" class="edit" type="text" name="login" /></dd>
					<dt><label for="psw">Пароль </label></dt><dd><input id="psw" class="edit" type="password" name="pswrd" /></dd>
					<dt style="margin-top: 1px;"><a href="registration.html">Регистрация</a></dt><dd id="button"><input type="button" name="sigIn" id="sigIn" value="Войти" class="button" /></dd>
				</dl>
			</div>
		</form>
	</div>

</body>
</html>