<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Tarakaning</title>
		<!--<link rel="shortcut icon" href="images/quki.ico" />-->
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
		<link rel="stylesheet" type="text/css" href="style.css" />
		<link href="custom-theme/jquery-ui-1.8.9.custom.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="../js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="../js/jquery-ui-1.8.5.custom.min.js"></script>
		<script type="text/javascript" src="../js/j.checkboxes.js"></script>
		<script type="text/javascript">
		/* <![CDATA[ */
			$(document).ready(function() {
				$("#tabs").tabs();
				$("input:button, input:submit, button, .groupier a, .groupier li span").button();	
				$('.reports_form').checkboxes();
			});
		/* ]]>*/
		</script>
	</head>
	<body>
		<div id="header">
			<img id="img_logo" src="images/logotype.png" alt="Tarakaning" />
			<div id="logo">
				<h1>Tarakaning</h1>
				<span>Багтреккер и управление проектами</span>
			</div>
			<div id="goTask">
				<form action="#">
					<div>
						<label>№ </label><input type="text" maxlength="10" name="bug" />
						<input type="submit" value="OK" />
					</div>
				</form>
			</div>
			<div id="account_panel">
				<strong>EntityFX</strong><br/>
				<span>Солопий Артём Валерьевич</span><br />
				<span>Вошёл: <span style="color: #aaa">07.07.2011 2:09</span></span><br />
				<a href="#" id="exit" >Выход</a>
			</div>
		</div>
		<div id="main_menu">
			<ul>
				<li><a href="my_reports_with_checkboxes.html">Мои отчёты</a></li>
				<li><a href="reports_with_checkboxes.html">Отчёты проекта</a></li>
				<li><a href="projects.html">Мои проекты</a></li>
				<li><a href="subscribes.html">Мои заявки</a></li>
			<li><a href="find.html">Поиск</a></li>
			<li><a href="user_info.html">Профиль</a></li>
			</ul>
		</div>
		<div id="content_body">
			<div>
				<div class="groupier">
					<form action="#"><div>
						<label for="project_id">Проект</label>
						<select id="project_id" name="project_id">
							<option>QUKI</option>
							<option>Tarakaning</option>
						</select>
					</div></form>
					<form action="add_report.html" method="post"><div>
						<input type="submit" value="Добавить отчёт" title="Добавить новый отчёт об ошибке" name="add"/>
					</div></form>
					<ul>
						<li><a href="#">&lt;&lt;</a></li>
						<li><a href="#">&lt;</a></li>
						<li><a href="#">6</a></li>
						<li><span style="font-weight: bold; color: #a88; border-color: #a80; background: #d5d597 !important;">7</span></li>
						<li><a href="#">8</a></li>
						<li><a href="#">9</a></li>
						<li><a href="#">10</a></li>
						<li><a href="#">&gt;</a></li>
						<li><a href="#">&gt;&gt;</a></li>						
					</ul>
				</div>
				<form action="#" class="reports_form" method="post">
					<table class="report_table">
						<thead>
							<tr>
								<th><input name="del_all" type="checkbox" title=""/></th>
								<th><a href="#" class="sort">№ &uarr;</a></th>
								<th><a href="#">Статус</a></th>
								<th><a href="#">Заголовок</a></th>
								<th><a href="#">Приоритет</a></th>
								<th><a href="#">Владелец</a></th>
								<th><a href="#">Тип</a></th>
								<th><a href="#">Дата</a></th>
							</tr>
						</thead>
						<tbody>
							<tr class="new">
							    <td><input name="del1" type="checkbox" /></td>
								<td>56</td>
								<td>Новая</td>
								<td>Ошибка выполнения</td>
								<td>Обычный</td>
								<td><a href="#">Sudo777</a></td>
								<td>Критическая</td>
								<td>6 февраля 2007 12:56</td>
							</tr>
							<tr class="closed">
							    <td><input name="del3" type="checkbox" disabled="disabled" /></td>
								<td>57</td>
								<td>Закрытая</td>
								<td>Ошибка выполнения (<a href="#">ред</a>)</td>
								<td><strong class="strongest">Важный</strong></td>
								<td><a href="#">EntityFX</a></td>
								<td>Незначительная</td>
								<td>7 октября 2011 07:48</td>
							</tr>
							<tr class="assigned">
							    <td><input name="del3" type="checkbox" /></td>
								<td>2348</td>
								<td>Назначена (<a href="#">Sudo777</a>)</td>
								<td>Выдало исключение</td>
								<td>Низкий</td>
								<td><a href="#">Flood</a></td>
								<td>Блокирующая</td>
								<td>23 февраля 1989 11:34</td>
							</tr>
							<tr class="solved">
							    <td><input name="del3" type="checkbox" disabled="disabled" /></td>
								<td>4867</td>
								<td>Решённая</td>
								<td>Переполнение стека при рекурсии (<a href="#">ред</a>)</td>
								<td><strong class="strongest">Важный</strong></td>
								<td><a href="#">EntityFX</a></td>
								<td>Незначительная</td>
								<td>7 июля 2008 22:37</td>
							</tr>
							<tr class="confirmed">
							    <td><input name="del3" type="checkbox" /></td>
								<td>5096</td>
								<td>Рассматривается</td>
								<td>Падение сервера в датацентре (<a href="#">ред</a>)</td>
								<td><strong class="strongest">Важный</strong></td>
								<td><a href="#">Ignatyy</a></td>
								<td>Незначительная</td>
								<td>7 июля 2008 22:37</td>
							</tr>
						</tbody>
					</table>
					<div class="groupier">
						<input type="submit" value="Удалить выделенные" title="Удалить выделенные" name="del" />
					</div>
				</form>
			</div>
		</div>
	</body>
</html>