{% extends "views/layouts/content.master.twig" %}

{% block body %}
<ul class="nav nav-tabs" id="item-tab">
    <li class="active"><a href="#my-projects" data-toggle="tab">Мои проекты</a></li>
    <li><a href="#all-projects" data-toggle="tab">Участвую в проектах</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="my-projects">
        <form action="#" class="reports_form" method="post">
            {{ void(this.widget(
                    'bootstrap.widgets.TbGridView', {
                        'dataProvider' : userProjectsDataProvider,
                        'type' : 'striped bordered condensed',
                        'columns' : [
                            { 
                                'class' : 'CCheckBoxColumn',
                                'name' : 'ProjectID',
                                'headerTemplate' : '{item}',
                                'selectableRows' : 2
                            },
                            'ProjectName',
                            'Description',
                            {
                                'name' : 'NEW',
                                'header' : 'Elements',
                                'headerHtmlOptions' : {
                                    colspan: 5
                                },
                                'htmlOptions' : {
                                    'class' : 'item-state-new'
                                }
                            },

                            {
                                'name' : 'IDENTIFIED',
                                'headerVisible' : false,
                                'htmlOptions' : {
                                    'class' : 'item-state-assesed'
                                }
                            },
                            {
                                'name' : 'ASSESSED',
                                'headerVisible' : false,
                                'htmlOptions' : {
                                    'class' : 'item-state-inprocess'
                                }
                            },
                            {
                                'name' : 'RESOLVED',
                                'headerVisible' : false,
                                'htmlOptions' : {
                                    'class' : 'item-state-solved'
                                }
                            },
                            {
                                'name' : 'CLOSED',
                                'headerVisible' : false
                            },
                            'CountSubscribeRequests',
                            'CountUsers',
                            {
                                'name' : 'CreateDateTime',
                                'value' : 'strtotime($data[CreateDateTime])',
                                'type' : 'datetime'
                            },
                            {
                                'header' : '',
                                'class' : 'bootstrap.widgets.TbButtonColumn',
                                'template' : '{update} {delete}',
                                'updateButtonUrl' : 'Yii::app()->controller->createUrl("edit",array("id"=>$data["ProjectID"]))',
                                'deleteButtonUrl' : 'Yii::app()->controller->createUrl("delete",array("id"=>$data["ProjectID"]))'
                            }
                        ],
                        'showTableOnEmpty' : false,
                        'enablePagination' : true,
                        'template' : "{summary}\n{items}\n{pager}",
                        'emptyText' : '
                            <div class="alert alert-info">
                                <a class="close" data-dismiss="alert" href="#">&times;</a>
                                <span>Проектов нет</span>
                            </div>'
                    }
                ))
            }}
            <div class="row"> 
                <div class="span6">
                    <button class="btn btn-danger" type="submit" id="del" name="del" title="Удалить выделенные">
                        <i class="icon-trash icon-white"></i>
                        Удалить выделенные проекты
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="tab-pane" id="all-projects">
        {{ void(this.widget(
            'bootstrap.widgets.TbGridView', {
                'dataProvider' : memberProjectsDataProvider,
                'type' : 'striped bordered condensed',
                'columns' : [
                    'ProjectName',
                    'Description',
                    'OwnerNickName',
                    {
                        'name' : 'NEW',
                        'header' : 'Elements',
                        'headerHtmlOptions' : {
                            colspan: 5
                        },
                        'htmlOptions' : {
                            'class' : 'item-state-new'
                        }
                    },

                    {
                        'name' : 'IDENTIFIED',
                        'headerVisible' : false,
                        'htmlOptions' : {
                            'class' : 'item-state-assesed'
                        }
                    },
                    {
                        'name' : 'ASSESSED',
                        'headerVisible' : false,
                        'htmlOptions' : {
                            'class' : 'item-state-inprocess'
                        }
                    },
                    {
                        'name' : 'RESOLVED',
                        'headerVisible' : false,
                        'htmlOptions' : {
                            'class' : 'item-state-solved'
                        }
                    },
                    {
                        'name' : 'CLOSED',
                        'headerVisible' : false
                    },
                    'CountUsers',
                    {
                        'name' : 'CreateDateTime',
                        'value' : 'strtotime($data[CreateDateTime])',
                        'type' : 'datetime'
                    }
                ],
                'showTableOnEmpty' : false,
                'enablePagination' : true,
                'template' : "{summary}\n{items}\n{pager}",
                'emptyText' : '
                    <div class="alert alert-info">
                        <a class="close" data-dismiss="alert" href="#">&times;</a>
                        <span>Проектов нет</span>
                    </div>'
            }
            ))
        }}
    </div>
</div>
{% endblock %}